/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelated,
svg,
img {
  image-rendering: -moz-crisp-edges;          
  image-rendering: -webkit-crisp-edges;      
  image-rendering: pixelated;                
  -ms-interpolation-mode: nearest-neighbor;  
}